body{
  background-color: black;
}

.button-icon{
  background-color: rgb(86, 86, 86);
  color:white ;
  padding: 17px 24px 17px 24px;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  margin-left: 5px;
}


.button-icon-calculation{
  background-color: orange;
  color:white ;
  padding: 17px 24px 17px 24px;
  font-size: large;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  margin-left: 5px;
}

.js-result{
   color:white ;
  
  font-size: 40px;
  font-weight: bold;
  margin-left: 5px;
}