 body{
        font-family: sans-serif;
        background-color: rgb(173, 200, 223);
      }
      .input-text,
      .result{
        display: grid;
       grid-template-columns: 200px 150px 100px;
       height: 40px;
       padding: 10px;
       column-gap: 20px;
       row-gap: 20px;
        border-radius: 5px;
        

      }
      .result{
        align-items: center;
      }

      .input-text{
        margin-bottom: 10px;
      }

      .add-button{
        background-color: green;
        border: none;
        border-radius: 5px;
        color: white;
       


      }

      .delete-button{
        background-color: red;
        border: none;
        border-radius: 5px;
         height: 40px;
         color: white;
          
      }
